<!DOCTYPE html>
<html lang="en">

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

    <div class="carousel relative container mx-auto" style="width:auto;">
        <div class="carousel-inner relative overflow-hidden w-full">
            <!--Slide 1-->
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
            <div class="carousel-item absolute opacity-0" style="height:80vh;">
                <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right"
                 style="background-image: url('https://weimotors.com.br/wp-content/uploads/2019/06/tiggo_7.jpg');">
                </div>
            </div>
            <label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
            <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

            <!--Slide 2-->
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item absolute opacity-0 bg-cover bg-right" style="height:80vh;">
                <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right"
                style="background-image: url('https://weimotors.com.br/wp-content/uploads/2021/05/1-1-2.png');">
                </div>
            </div>
            <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
            <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

            <!--Slide 3-->
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
            <div class="carousel-item absolute opacity-0 bg-cover bg-right" style="height:80vh;">
                <div class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-bottom" 
                style="background-image: url('https://weimotors.com.br/wp-content/uploads/2020/06/arrizo-6-1.jpg');">

                </div>
            </div>
            <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
            <label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900  leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

            <!-- Add additional indicators for each slide-->
            <ol class="carousel-indicators">
                <li class="inline-block mr-3">
                    <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
                </li>
                <li class="inline-block mr-3">
                    <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
                </li>
                <li class="inline-block mr-3">
                    <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
                </li>
            </ol>

        </div>
    </div>

    <section class="bg-white py-8">

        <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

            <nav id="store" class="w-full z-30 top-0 px-6 py-1">
                <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3">

                    <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl " href="#">
                      Veiculos
                    </a>
              </div>
            </nav>

            <div class="w-full md:w-1/3 xl:w-1/2 p-6 flex flex-col">
                <a href="/novos">
                    <img class="hover:grow hover:shadow-lg" src="https://www.autoo.com.br/fotos/2019/12/960_720/caoa-chery_arrizo-6_2021_18_15122019_19635_960_720.jpg">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="">Veiculos Novos</p>  
                    </div>
                </a>
            </div>

            <div class="w-full md:w-1/3 xl:w-1/2 p-6 flex flex-col">
                <a href="/usados">
                    <img class="hover:grow hover:shadow-lg" src="https://www.autoo.com.br/fotos/2019/9/960_720/caoa-chery_arrizo-5e_2019_1_30092019_16043_960_720.jpg">
                    <div class="pt-3 flex items-center justify-between">
                        <p class="">Veiculos Usados</p>    
                    </div>
                </a>
            </div>

            </div><hr>

    </section>

    <section class="bg-white py-8">

        <div class="container py-8 px-6 mx-auto">

            <div class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl mb-8" href="#">
              CAOA CHERY BRASIL
		        </div>

            <p class="mt-8 mb-8">A Caoa Chery atualmente possui duas fabricas, no interior de São Paulo (Jacareí) e em Goias (Anápolis). A sede administrativa da companhia ocupa uma área de 100 mil metros quadrados e conta com escritórios para os executivos da montadora, área administrativa, oficinas, salas de treinamento, showroom e um completo depósito de peças.

              A Caoa Chery oferece a melhor relação em custo e benefício do mercado. Com o objetivo de ser uma escolha inteligente, a marca apresenta as opções mais completas e econômicas ao consumidor automotivo.
              
              Com vários modelos comercializados no mercado automotivo brasileiro a Caoa Chery, bateu recordes em vendas e consolidou o início de um crescimento próspero. A companhia espera conquistar significativo market share nos próximos anos. Para isso, novos modelos devem ser lançados em breve no Brasil.
              
              A Caoa Chery investiu na construção de uma fábrica de ponta. Com sua capacidade de produção anual de 150 a 170 mil unidades.
              
        </div>

    </section>
    <footer class="container mx-auto bg-white py-8 border-t border-gray-400">
        <div class="container flex px-3 py-8 ">
            <div class="w-full mx-auto flex flex-wrap">
                <div class="flex w-full lg:w-1/2 ">
                    <div class="px-3 md:px-0">
                        <h3 class="font-bold text-gray-900">CAOA CHERY</h3>
                        <p class="py-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
    </footer>

</body>

</html>