<div class="bg-black">
    <div class="flex relative text-center">
        <h1 class="text-3xl tracking-wider text-white text-sha uppercase font-bold p-4 
        self-center z-10 content-center absolute text-center w-full md:text-4xl">CAOA CHERY BRASIL</h1>
        <img class="w-full object-cover h-72 block mx-auto  sm:block sm:w-full" 
        src="https://images.unsplash.com/photo-1505934333218-8fe21ff87e69?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
         alt="Banner" width="1920" height="288" />
        </div>
    <div class="flex relative text-center">
    <img class="w-full object-cover h-72 block mx-auto  sm:block sm:w-full" 
    src="https://caoachery.com.br/tiggo8/auischiuyaoidj/images/header.jpg"
     alt="Banner" width="1920" height="288" />
    </div>
    </div>
    
    <div class="p-5 mx-auto max-w-screen-xl">
    <h2 class="font-bold uppercase text-xl pb-4">Detalhes</h2>
    
   
  
    <div class="bg-gray-200">
      <section class="py-5 mx-auto max-w-screen-xl  sm:flex flex-grow-0 sm:p-5">
      <article class="flex-col justify-center inline-flex self-stretch  p-6">
        <h2 class="uppercase font-semibold text-xl">$modelo</h2>
        <strong class="text-lg pb-2 font-normal font-sans sm:text-2xl">$valor</strong>
        <strong class="text-lg pb-2 font-normal font-sans sm:text-2xl">$anomodelo</strong>
        <strong class="text-lg pb-2 font-normal font-sans sm:text-2xl">$cor</strong>
        <strong class="text-lg pb-2 font-normal font-sans sm:text-2xl">$marca</strong>
        <p class="text-sm pb-4">${opcionais} Join us as we revisit our roots, tracing the path from bright idea to industry disruptors with a plan to fight climate change while creating beautiful things. </p>
      </article>
      <figure>
      <img 
      src="https://caoachery.com.br/tiggo8/auischiuyaoidj/images/tiggo2_2021/caoachery_T2_2021_SMILE_branco.jpg" 
      alt="Banner" looding="lazy" />
      </figure>
      </section>
    </div>