
    
    <div class="p-5 mx-auto max-w-screen-xl">
        <h2 class="font-bold uppercase text-xl pb-4">Veiculos Usados</h2>
        
        <div class="grid grid-flow-row-dense grid-cols-2 gap-3 justify-between sm:grid-cols-3 md:grid-cols-4">
      
        <div>
            <a href="/detalhes">
            <img class="border border-yellow-700 mb-1 border-solid w-full hover:border-yellow-500" style="height:40vh;" alt="Best seller" 
            src="https://fotos.jornaldocarro.estadao.com.br/uploads/2019/04/15131118/43895755-1160x774.jpg" loading="lazy" />
            <h2 class="pt-2 m-0 leading-4 font-semibold">Modelo do Veiculo</h2>
            <p>R$Valor</p>
            </a>
        </div>
    
        <div class="">
            <a href="/detalhes">
            <img class="border border-yellow-700 border-solid w-full hover:border-yellow-500" style="height:40vh;" alt="Best seller" 
            src="https://p2.trrsf.com/image/fget/cf/1200/628/middle/images.terra.com/2021/03/26/novo-chery-tiggo-2-6.jpg" loading="lazy" />
            <h2 class="pt-2 m-0 leading-4 font-semibold">Modelo do Veiculo</h2>
            <p>R$Valor</p>
            </a>
        </div>
    
          <div class="" >
            <a href="/detalhes">
            <img class="border border-yellow-700 border-solid w-full hover:border-yellow-500" style="height:40vh;" alt="Best seller" 
            src="https://trovaomotor.com/wp-content/uploads/2020/06/caoa-chery-arrizo-6-18.jpg" loading="lazy" />
            <h2 class="pt-2 m-0 leading-4 font-semibold"> Modelo do Veiculo</h2>
            <p>R$Valor</p>
            </a>
          </div>
    
         <div class="">
             <a href="/detalhes">
            <img class="border border-yellow-700 border-solid w-full hover:border-yellow-500" style="height:40vh;" alt="Best seller" 
            src="https://www.automaistv.com.br/wp-content/uploads/2020/08/Caoa_Chery_Tiggo8_0257_edited-990x594.jpg" loading="lazy" />
            <h2 class="pt-2 m-0 leading-4 font-semibold">Modelo do Veiculo</h2>
            <p>R$Valor</p>
            </a>
          </div>
        </div>
    