<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head') %>
    <link rel="stylesheet" href="/public/stylesheets/about.css" />
  </head>
  <body>
    <header><%- include('./components/header') %></header>
   
    <div class="bg-black">
      <div class="flex relative text-center">
          <h4 class="text-3xl tracking-wider text-black text-sha uppercase font-bold p-4 
          self-top z-10 content-center absolute text-center w-full md:text-4xl">CAOA CHERY BRASIL</h4><br>
         <p class="text-2xl tracking-wider text-white text-sha   
         self-center z-10 content-center absolute text-center w-full "> A Caoa Chery atualmente possui duas fabricas, no interior de São Paulo (Jacareí) e em Goias (Anápolis). A sede administrativa da companhia ocupa uma área de 100 mil metros quadrados e conta com escritórios para os executivos da montadora, área administrativa, oficinas, salas de treinamento, showroom e um completo depósito de peças.

            A Caoa Chery oferece a melhor relação em custo e benefício do mercado. Com o objetivo de ser uma escolha inteligente, a marca apresenta as opções mais completas e econômicas ao consumidor automotivo.
            
            Com vários modelos comercializados no mercado automotivo brasileiro a Caoa Chery, bateu recordes em vendas e consolidou o início de um crescimento próspero. A companhia espera conquistar significativo market share nos próximos anos. Para isso, novos modelos devem ser lançados em breve no Brasil.
            
            A Caoa Chery investiu na construção de uma fábrica de ponta. Com sua capacidade de produção anual de 150 a 170 mil unidades.
      </p>        
          <img class="w-full object-cover  block mx-auto  sm:block sm:w-full" 
          src="../../public/images/chery.jpg"
           alt="Banner" width="1920" />
          </div>
      </div>
  </body>
</html>
